<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
    </script>
    <script src = "./js/concerts.js"></script>
    <link href = "./css/stylesheet.css" rel="stylesheet"/>

    <title>Ticketmaster</title>
    
</script>
    
</head>
<body>
    <div class="container">
        <img src="././images/ticketmaster-5-logo.png" style="height: 150px;" />
    </div>

    <div class="myBlock">
        <div id="form-concerts"> 
            <!--concert selected-->
        </div>
        </div>

    <div class="form">
        <button class="bAdd" onclick="addConcert()">Add new concert</button>
        <button class="bEdit" onclick="editConcert()">Edit a concert</button>
        <button class="bDel">Delete a concert</button>
    </div>

</body>
</html>