<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <img src="././images/ticketmaster-5-logo.png" style="height: 150px;" />
    </div>

    <div class="form">
        <label for="cname">Concert: </label>
        <input type="text"><br>
        <label for="clocation">Location: </label>
        <input type="text"><br>

        <button class="bAdd">Add new concert</button>
        <button class="bEdit">Edit a concert</button>
        <button class="bDel">Del a concert</button>


    </div>

    
</body>
</html>